@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --- ЖЕСТКАЯ ФИКСАЦИЯ ИНТЕРФЕЙСА ДЛЯ МОБИЛОК --- */
html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* Отключает зум "щипком" (pinch-to-zoom), но оставляет скролл */
  touch-action: pan-x pan-y;
  
  /* Убирает дерганье и пружинящий эффект при скролле в самый верх/низ */
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  
  /* Блокирует системное увеличение шрифтов на iOS */
  -webkit-text-size-adjust: 100%;
}