@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    /* Отключаем белый фон и скроллбар */
    overflow-x: hidden; 
    -webkit-font-smoothing: antialiased;
  }
  
  /* УБИВАЕМ БЕЛЫЕ РАМКИ ГЛОБАЛЬНО */
  *, ::before, ::after {
    border-color: rgba(255, 255, 255, 0.05); /* Еле заметная серая, а не белая */
  }

  /* Убираем стандартные стили кнопок и инпутов */
  input, select, textarea, button {
    outline: none;
  }
}