@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  /* Убираем белые рамки глобально и делаем их прозрачными */
  *, ::before, ::after {
    border-color: rgba(255, 255, 255, 0.1); 
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* Защита от скролла на айфонах */
    overflow-x: hidden;
    min-height: 100vh;
  }
}

/* Скрываем скроллбар для красоты */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}